<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0'>

    <link rel="stylesheet" href="css/style.css">

    <title>Try Me!</title>
</head>

<body>
    <div id="app">
        <div class="header">
            <input type="text" v-model="keyword" @keyup.enter="search">
            <button @click="search">start</button>
        </div>

        <div class="container">
            <div class="content">
                <p v-text="keyword"></p>
                <ul>
                    <li v-for="image in imageList">
                        <p v-text="image.name"></p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

<script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
<script src="app.js"></script>

</html>